
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{

  --black: #2c2c54;
  --orange: #ff9f1a;

}


*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all.3s linear;

}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

}

header .logo {
  font-size: 2.5rem;
  color: var(--black);
  text-align: center;
  color: crimson;
}

header .navbar a {
font-size: 1.7rem;
color: var(--black);
margin: 0 1rem;
}

header .navbar a:hover{
  color: var(--orange);
}

header .icons a {
  font-size: 2.5rem;
  color: var(--black);
  margin-left: 2rem;
  
  }
  
  header .icons a:hover{
    color: var(--orange);
  }

  #menu-bar{
    font-size: 2.5rem;
    padding: .5rem 1.5rem;
    border: .1rem solid var(--black);
    border-radius: .3rem;
    cursor: pointer;
    display: none;

  }

  .encabezado{
    background-image: url('../img/portada2.webp');
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 70rem;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
  }

  .footer{
    background: crimson;
    padding: 20px;

  }
  .footer .logo{
    text-align: center;
    color: #fff;
    font-size: 24px;
    
  }
  
  
 
  
  
 















/*media query */
@media (max-width: 991px){
  html{
    font-size: 55%;
  }

  header{
    padding: 2rem;
  }
  
}

@media (max-width: 768px){

 #menu-bar{
   display: block;
 }

 header .navbar{
   position: absolute;
   top: 100%;
   left: -120%;
   width: 100%;
   background: #eee;
   border-top: .1rem solid rgba(0, 0, 0, .1);
 }
 header .navbar.active{
   left: 0;
 }



 header .navbar.active{
   left: 0;
 }

 header .navbar a{
   font-size: 2rem;
   background: #fff;
   border: .1rem solid var(--black);
   padding: 1.5rem;
   margin: 1.5rem;
   display: block;
   text-align: center;  
 }
}

@media (max-width: 400px){
  html{
    font-size: 50%;
  }
  .encabezado{
    
  }

  
}



